body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.team.container {
  display: flex;
}

.team {
  padding: 90px;
}

.spectators {
  position: absolute;
  padding-left: 37%;
  padding-top: 25%;
  display: block;
}
